header {
    background-color: #f37520;
}
header,
header > .container {
    min-height: 64px;
}
section nav {
    background-color: #ededed;
    padding: 2rem;
}
footer {
    background-color: #454545;
    padding: 2rem;
}
@media (min-width: 990px) {
    section,
    section > .row,
    section > .row > [class^=col-],
    section > .row nav {
        height: calc(100vh - 274px);
    }
}